<footer class="site-footer">
    <div class="wrapper">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li>{{ site.author.name | default: site.title | escape }}</li>
            {% if site.email %}<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>{% endif %}
          </ul>
        </div>
        <div class="footer-col footer-col-2">
          <ul class="social-media-list">
            {% for link in site.data.sns-links.links %}
              <li>
                <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                  <span class="username">{{ link.name }}</span>
                  <!-- アイコン表示 (別途CSSでアイコンフォントやSVGを設定) -->
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer-col footer-col-3">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
      <div class="copyright">
        © {% assign current_year = 'now' | date: "%Y" %}{{ current_year }} {{ site.author.name | default: site.title | escape }}. All rights reserved.
      </div>
    </div>
  </footer>